<div class="grid_wrapper">

    <div class="g_6 contents_header">
        <h3 class="i_16_dashboard tab_label">服务管理</h3>
        <div><span class="label">General Informations and Resume</span></div>
    </div>

    <div class="g_6 contents_options">
        <div class="simple_buttons">
            <div class="bwIcon i_16_help" ng-click="returnlist()">返回</div>
        </div>
    </div>

    <div class="g_12 separator"><span></span></div>

    <div class="g_12">
        是否删除？
        <div class="simple_buttons" ng-click="delete()"  original-title="Top Tooltip">
            <div>确定</div>
        </div>
        <div class="simple_buttons" ng-click="returnlist()"  original-title="Top Tooltip">
            <div>取消</div>
        </div>
    </div>
</div>