<style>
     pre code {
        margin: 0;
        padding: 5px 10px;
        word-break: break-all;
        display: block;
         /* padding: 0.5em; */
        color: #333;
        background: ghostwhite;
    }
     code {
        font-size: 14px;
        margin: 0 5px;
        padding: 5px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>
<div class="grid_wrapper">

    <div class="g_6 contents_header">
        <h3 class="i_16_dashboard tab_label">Java</h3>
        <div><span class="label">General Informations and Resume</span></div>
    </div>

    <div class="g_6 contents_options">
        <div class="simple_buttons">
            <div class="bwIcon i_16_help" ng-click="returnlist()">返回</div>
        </div>
    </div>

    <div class="g_12 separator"><span></span></div>

    <div class="g_12">
        <pre>
            <code id="content" class="avrasm">

            </code>
        </pre>
    </div>
    <div class="g_12">
        <div class="line_grid">
            <div class="g_12">
                <input class="submitIt simple_buttons" ng-click="downloadJava()" value="下载" type="button">
                <input class="submitIt simple_buttons" ng-click="test()" value="可测试" type="button">
                <input class="submitIt simple_buttons" ng-click="commit()" value="审批通过" type="button">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script>

</script>