<div class="signUp" >
    <div class="widget_header">
        <h4 class="widget_header_title wwIcon i_16_forms">Sign Up</h4>
    </div>
    <div class="widget_contents noPadding">
        <div class="line_grid">
            <div class="g_3"><span class="label">UserName</span></div>
            <div class="g_9">
                <input class="simple_field" id="regname" type="text" placeholder="">
            </div>
        </div>
        <div class="line_grid">
            <div class="g_3"><span class="label">Password</span></div>
            <div class="g_9">
                <input class="simple_field" id="hehe"  type="password" placeholder="">
            </div>
        </div>
        <div class="line_grid">
            <div class="g_3"><span class="label">Email</span></div>
            <div class="g_9">
                <input class="simple_field" id="email"  type="text" placeholder="">
            </div>
        </div>
        <div class="line_grid">
            <div class="g_6"><input class="submitIt simple_buttons" ng-click="saveUser()"  value="Sign Up"  type="button">
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>