<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EOS</title>
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/Javascript/Flot/excanvas.js"></script>
    <![endif]-->
    <!-- The Fonts -->
    <link href="/CSS/fonts.css" rel="stylesheet">
    <!-- The Main CSS File -->
    <link rel="stylesheet" href="/CSS/style.css">
    <!-- jQuery -->
    <script src="/Javascript/jQuery/jquery-1.7.2.min.js"></script>
    <!-- Flot -->
    <script src="/Javascript/Flot/jquery.flot.js"></script>
    <script src="/Javascript/Flot/jquery.flot.resize.js"></script>
    <script src="/Javascript/Flot/jquery.flot.pie.js"></script>
    <!-- DataTables -->
    <script src="/Javascript/DataTables/jquery.dataTables.min.js"></script>
    <!-- ColResizable -->
    <script src="/Javascript/ColResizable/colResizable-1.3.js"></script>
    <!-- jQuryUI -->
    <script src="/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
    <!-- Uniform -->
    <script src="/Javascript/Uniform/jquery.uniform.js"></script>
    <!-- Tipsy -->
    <script src="/Javascript/Tipsy/jquery.tipsy.js"></script>
    <!-- Elastic -->
    <script src="/Javascript/Elastic/jquery.elastic.js"></script>
    <!-- ColorPicker -->
    <script src="/Javascript/ColorPicker/colorpicker.js"></script>
    <!-- SuperTextarea -->
    <script src="/Javascript/SuperTextarea/jquery.supertextarea.min.js"></script>
    <!-- UISpinner -->
    <script src="/Javascript/UISpinner/ui.spinner.js"></script>
    <!-- MaskedInput -->
    <script src="/Javascript/MaskedInput/jquery.maskedinput-1.3.js"></script>
    <!-- ClEditor -->
    <script src="/Javascript/ClEditor/jquery.cleditor.js"></script>
    <!-- Full Calendar -->
    <script src="/Javascript/FullCalendar/fullcalendar.js"></script>
    <!-- Color Box -->
    <script src="/Javascript/ColorBox/jquery.colorbox.js"></script>
    <!-- Kanrisha Script -->
    <script src="/Javascript/kanrisha.js"></script>
    <script src="/Javascript/angular-1.2.10/angular.min.js"></script>
    <script src="/Javascript/angular-1.2.10/angular-resource.min.js"></script>
    <script src="/Javascript/angular-1.2.10/angular-route.min.js"></script>

</head>
<body>
<div class="login" style="width: 100%;margin:0px;"  >
    <div class="widget_header">
        <h4 class="widget_header_title wwIcon i_16_login">修改默认值</h4>
    </div>
    <div class="widget_contents lgNoPadding">
        <form action="/login.do" method="POST" class="ng-pristine ng-valid">
            <div class="line_grid">
                <div class="g_2 g_2M"><span class="label">默认值</span></div>
                <div class="g_10 g_10M">
                    <input class="simple_field tooltip" id="label" name="label" type="text" placeholder="label"
                           original-title=""></div>
                <div class="clear"></div>
            </div>
            <div class="line_grid">
                <div class="g_6"><input id="saveBtn" class="submitIt simple_buttons"  value="保存" type="button">
                </div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
</div>
<script>

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return "";
    }
    var configId = GetQueryString("configId");
    var runId = GetQueryString("runId");
    $.ajax({
        type: 'POST',
        url: "/getRunVal.do",
        data: {configId:configId,runId:runId},
        success: function(data){
            if(data.status)
            {
                $("#label").val(data.data);
            }
        },
        dataType: "json"
    });

    $("#saveBtn").click(function(){
        var label = $("#label").val();
        if(label=="")
        {
            alert("请输入名称");
            return;
        }
        $.ajax({
            type: 'POST',
            url: "/saveRunVal.do",
            data: {configId:configId,runId:runId,val:label},
            success: function(data){
                if(data.status)
                {
                    alert("保存成功");
                    parent.location.reload();

                }else{
                    alert("保存失败");
                }
            },
            dataType: "json"
        });
    });

</script>
</body>
</html>