<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/eos</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.sunsharing.eos.uddi.model.TDbChange"/>
    <mapping class="com.sunsharing.eos.uddi.model.TDbPdm"/>
      <mapping class="com.sunsharing.eos.uddi.model.TDbChecklist"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>