<div class="grid_wrapper">

<div class="g_6 contents_header">
    <h3 class="i_16_dashboard tab_label">应用管理</h3>
    <div><span class="label">General Informations and Resume</span></div>
</div>

<div class="g_6 contents_options">
    <div class="simple_buttons">
        <div class="bwIcon i_16_help" ng-click="addApp()">添加</div>
    </div>
</div>

<div class="g_12 separator"><span></span></div>

    <div class="g_12">
        <div class="widget_header wwOptions">
            <h4 class="widget_header_title wwIcon i_16_data">DataTables</h4>

        </div>
        <div class="widget_contents noPadding">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid"><div class="dtTop"><div class="dtShowPer"><div id="DataTables_Table_0_length" class="dataTables_length"><label>Show entries <div class="selector" id="uniform-undefined"><span>10</span><select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" style="opacity: 0;"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></div></label></div></div><div class="dtFilter"><div class="dataTables_filter" id="DataTables_Table_0_filter"><label>Search: <input type="text" aria-controls="DataTables_Table_0" class="simple_field" style="width: auto; margin-left: 15px;"></label></div></div></div><div class="dtTables"><table class="datatable tables dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 149px;">应用ID</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 249px;">应用名称</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform: activate to sort column ascending" style="width: 215px;">创建时间</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform: activate to sort column ascending" style="width: 215px;">操作</th>
                </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="{{row.rowclass}}" ng-repeat="row in applist">
                    <td class="sorting_1">{{row.appCode}}</td>
                    <td class=" ">{{row.appName}}</td>
                    <td class=" ">{{row.creatTime}}</td>
                    <td class=" "><a class="simple_buttons" href="#updateAdd/{{row.appId}}"><div>编辑</div></a></td>
                </tr>
                </tbody></table></div>
                <div class="dtBottom">
                <div class="dtInfo"><div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 10 of 57 entries</div></div><div class="dtPagination"><div class="dataTables_paginate paging_full_numbers" id="DataTables_Table_0_paginate"><a tabindex="0" class="first paginate_button paginate_button_disabled" id="DataTables_Table_0_first">First</a><a tabindex="0" class="previous paginate_button paginate_button_disabled" id="DataTables_Table_0_previous">Previous</a><span><a tabindex="0" class="paginate_active">1</a><a tabindex="0" class="paginate_button">2</a><a tabindex="0" class="paginate_button">3</a><a tabindex="0" class="paginate_button">4</a><a tabindex="0" class="paginate_button">5</a></span><a tabindex="0" class="next paginate_button" id="DataTables_Table_0_next">Next</a><a tabindex="0" class="last paginate_button" id="DataTables_Table_0_last">Last</a></div></div></div></div>
        </div>
    </div>

    <div class="g_12">
        <div class="line_grid">
            <div class="g_12"><input class="submitIt simple_buttons" ng-click="export()" value="导出" type="button">
                <input class="submitIt simple_buttons" ng-click="commitAllCommit()" value="注册服务" type="button">
                <span class="label">注意：data.sql导入时会清空"T_MODULE","T_APP","T_METHOD","T_SERVICE_VERSION","T_SERVICE",请注意备份</span>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>